.first{
    margin-top: 6%;
    font-size: 3rem;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
}
.centre{
    width: 100%;
}
.btn2{
    width: 11%;
    margin-left:44%;
    font-size: 0.8rem;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
}
.navbar{
    padding-left: 6%;
    padding-right: 6%;
    background-color: white;
}
.nav-item{
    font-weight: bold;
    font-size: 0.9rem;
    margin-left: 30px;;

}
.navbar-brand{
    font-size: 1.75rem;
    padding-bottom: 1%;
}
.do{
    /* padding-top: 4%; */
    padding-left:9%;
}
.card-title{
    margin-right: 80%;
    padding-top: 15%;
    padding-bottom: 5%;
}
.card{
    box-shadow: 2px 4px 8px 2px rgba(0,0,0,0.2);
    
    padding-top: 0;
    align-items: center;
}
.resize{
    padding-top:4%;
    margin-right: 4%;
}
.icon{
    color:darkblue;
}
.space{
    padding-bottom: 2%;
}
.space1{
    padding-bottom: 17%;
}
.row{
    align-items: center;
    padding-top: 0;
}
.card-text{
    font-size: 0.8rem;
}
@media (min-width:768px) {
    .card{
        margin-right: 13%;
        margin-left:5% ;
    }
}
